<script id="post-template" type="text/template">
<div class="feed-item" id="post-<@= id @>">
  <div class="feed-avatar">
    <img src="<@= avatar @>" class="img-circle" />
  </div>
  <div class="feed-body">
    <div class="feed-author"><strong><a href="#"><@= name @></a></strong></div>
    <div class="feed-time"><@= timestamp @></div>
    <div class="feed-content"><@= content @></div>
    <div class="feed-social">
      <form class="add-comment" post-id="<@= id @>" action="/post/<@= id @>/add" method="post">
        <input class="form-control" id="post-<@= id @>" type="text" placeholder="Add a comment" />
      </form>
    </div>
  </div>
</div>
</script>