<!DOCTYPE html>
<html>

<head>
  <title>CampfireHQ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CampfireHQ</a>
    </div>
  </div>
</div>


<main>
  <div class="container">
  <%= yield %>
  </div>
</main>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>

</html>
